#continue-button-container {
}

#main-page-container {
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 6s;
    -moz-animation-duration: 4s;
    -moz-animation-delay: 6s;
    -ms-animation-duration: 4s;
    -ms-animation-delay: 6s;
    -o-animation-duration: 4s;
    -o-animation-delay: 6s;
}

#menu-toggle {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 6s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 6s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 6s;
    -o-animation-duration: 2s;
    -o-animation-delay: 6s;
}


#johnny-leek{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 2s;
    -o-animation-duration: 2s;
    -o-animation-delay: 2s;
}

#programmer{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 3s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 3s;
    -o-animation-duration: 2s;
    -o-animation-delay: 3s;
}

#student{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 4s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 4s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 4s;
    -o-animation-duration: 2s;
    -o-animation-delay: 4s;
}

#musician{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 5s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 5s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 5s;
    -o-animation-duration: 2s;
    -o-animation-delay: 5s;
}